$color-black: #000000;
$color-white: #ffffff;
$color-grey: rgb(128, 128, 128);
$color-lightgrey: #f2f2f2;
$color-red: #ff0000;
$color-green:#008000;
$color-blue: #1D9AEE;
$color-border:rgb(185, 185, 185);
