.save-post-section {
    display: flex;
    flex-wrap: wrap;
    min-height: 40vh;
    width: 100%;
    justify-content: space-around;

    >div {
        display: flex;
        align-items: center;
        justify-content: center;

        transition: all 1s;
        position: relative;

        >div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 18rem;
            height: 18.5rem;
            margin: 0.5rem;
            cursor: pointer;

            >img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            >video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }




        }


        >button {
            display: none;
        }

        &:hover {
            >button {
                display: flex;
                position: absolute;
                right: 1rem;
                top: 1rem;
                color: $color-red;
                font-size: 1rem;
                padding: .5rem;
                border: none;
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.4);

            }

        }


    }
}